<table mat-table [dataSource]="items">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let item">
      <img [ngClass]="{'thumbnail' : item.thumbnail === undefined || item.thumbnail === true}" [src]="item.imagePath"
           [alt]="item.reference"/>
    </td>
  </ng-container>
  <mat-text-column headerText="Référence" name="reference"></mat-text-column>
  <mat-text-column headerText="Quantité" name="quantity"></mat-text-column>
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef>Commentaire</th>
    <td mat-cell *matCellDef="let item">
      {{item.comment}}
      <mat-icon *ngIf="item.warning === 'WARNING'" aria-hidden="false" aria-label="Warning" color="accent">warning
      </mat-icon>
      <mat-icon *ngIf="item.warning === 'CRITICAL'" aria-hidden="false" aria-label="Critical" color="warn">error
      </mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
