.card-rail {
  background-image: url('/assets/icons/rail-icon.jpg');
  background-size: cover;
}

.card-loco {
  background-image: url('/assets/icons/loco-icon.png');
  background-size: cover;
}

.card-wagon {
  background-image: url('/assets/icons/wagon-icon.png');
  background-size: cover;
}

.card-deco {
  background-image: url('/assets/icons/deco-icon.png');
  background-size: cover;
}

.card-other {
  background-image: url('/assets/icons/other-icon.png');
  background-size: cover;
}

.container {
  padding: 30px;
}
